* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "variables";
@import "typography";
@import "dropdown";
@import "header";
@import "burger-menu";
@import "menu";
@import "info";
@import "adaptive";

.page {
  background-color: $Almost-White;
  display: flex;
  justify-content: center;
  padding: 6px 30px 0 30px;
}
@media screen and (max-width: 425px) {
  .page {
    padding: 6px 16px 0 16px;
  }
}

.wrap {
  max-width: 1360px;
  width: 100%;
}

.none {
  display: none;
}

body {
  background-color: $Almost-White;
}