@font-face {
  font-family: 'epilogue-c';
  src: url('epilogue-variablefont_wght-webfont.woff2') format('woff2'),
       url('epilogue-variablefont_wght-webfont.woff') format('woff');
}

:root {
  font-size: 18px;
}